body {
    background-color: grey;
    color: white;
}

.forGifs img {
    height: 180px;
    width: 180px;
}

.forGifs {
    float: left;
    padding: .5%;
}

#buttons {
    margin-bottom: 2.5%;
}

#user_added_term {
    width: 100%;
}

.footer {
    padding: 3%;
    height: 70px;
    background-color: lightgrey;
}

.body-minus-footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex: 1;
}